.mini-post-card {
  padding: 8px;
  font-size: 0.9rem;
}

.mini-post-card mat-card-title {
  font-size: 1rem;
  font-weight: bold;
}

.mini-post-card mat-card-subtitle {
  font-size: 0.85rem;
  color: #6c757d;
}

.mini-post-card img {
  width: 40px;
  height: 40px;
}
