<footer class="footer bg-light py-4">
    <div class="container col-7">
    <div class="row footer-columns justify-content-center text-center">
      <div class="col-auto mb-3">
        <a routerLink="#" class="footer-link d-block">Zarejestruj się</a>
        <a routerLink="#" class="footer-link d-block">Zamów konsultacje</a>
        <a routerLink="#" class="footer-link d-block">Baza wiedzy</a>
        <a routerLink="#" class="footer-link d-block">Kontakt</a>
      </div>
      <div class="col-auto mb-3">
        <a routerLink="#" class="footer-link d-block">O nas</a>
        <a routerLink="#" class="footer-link d-block">Jak to działa</a>
        <a routerLink="#" class="footer-link d-block">Usługi</a>
      </div>
      <div class="col-auto mb-3">
        <a routerLink="#" class="footer-link d-block">Regulamin</a>
        <a routerLink="#" class="footer-link d-block">Polityka prywatności</a>
        <a routerLink="#" class="footer-link d-block">Bezpieczeństwo</a>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">&copy; QuickServiceSash.pl 2024<br>All rights reserved.</p>
    </div>
    </div>

</footer>

