.menu-container {
  display: flex;
  justify-content: space-around;
  background-color: inherit;
  padding: 10px 0;
}

.menu-item button {
  font-size: 16px;
  color: #333;
  text-transform: capitalize;
}
